* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.row {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  gap: 10px;
}

.col {
  background: #5f9fa0;
  color: white;
  padding: 20px;
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}
