.container {
  background-color: #e6e8f7;
  width: 900px;
  height: 900px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #48486f;
  text-align: center;
}
img {
  height: 200px;
}
.blue {
  background-color: #5ecafa;
  width: 90%;
  height: auto;
  border: #5ecafa solid 1px;
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.purple {
  background-color: #d5b1c1;
  width: 90%;
  height: auto;
  border: #d5b1c1 solid 1px;
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.white {
  background-color: #fcfcff;
  width: 90%;
  height: auto;
  border: #fcfcff solid 1px;
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
