*{
    margin: 20px;
}
button{
        display: block;

}
.search {
    color: #159d9f;
    font-weight: bold;
    border: 1px solid #159d9f ;
    border-radius: 20px;
    width: 150px;
    height: 36px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
.plus{
    background-color: aqua;
    color: white;
    border: 1px solid aqua;
    border-radius: 50%;
    width:45px ;
    height: 45px;
    font-size: 25px;
}
.create_account{
    background-color: #2b78e4;
    color: white;
    border: black solid 3px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    box-shadow: 4px 4px 0 black;
}
