body {
  margin: 10px;
}
h1 {
    background-color: black;
    color: cyan;
    padding: 18px 20px;
    margin: 8px;
}

span {
    color: white;
}

h2 {
    color: white;
    background-color: purple;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    padding: 12px 0;
    margin: 8px;


}

h3 {
    color: blue;
    background-color: rgb(107, 226, 226);
    text-align: right;
    text-decoration: underline;
    padding: 10px 25px 10px 15px;
    margin: 8px;

}