* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.nav {
  padding: 15px;
  background: #333333;
  color: #fff;
}

.nav .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav .nav-links li {
  list-style: none;
}

.nav .nav-links li a {
  text-decoration: none;
  color: #c9c9c9;
}

.nav .nav-links li .active {
  color: white;
  font-weight: bold;
}

button.btn {
  background: #17a2b8;
  color: #fff;
  padding: 5px;
  border: 2px solid black;
  box-shadow: 2px 3px black;
}

.container {
  width: 800px;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
}

.card {
  width: 100%;
  background: white;
  border: 2px solid #ccc;
  position: relative;
}

.header {
  height: 90px;
  background: #2a9cab;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid white;

  position: absolute;
  top: 45px;
  left: 20px;
}

.content {
  padding: 40px 20px 20px 20px;
}

.location {
  margin: 8px 0;
}

.content img {
  width: 15px;
  height: 15px;
  margin-top: 8px;
}

.main-content {
  margin-top: 20px;
  gap: 20px;
}

.container .left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content a {
  margin-left: 2px;
}

.education {
  width: 100%;
  border: 2px solid #ccc;
}
.edu-header {
  background: #333;
  padding: 5px;
}
.edu-header p {
  color: white;
  font-weight: bold;
}

.education .edu-content {
  margin-left: 12px;
}

.edu-content h4 {
  color: #999;
  font-weight: 600;
}

.connection-request {
  width: 100%;
  border: 2px solid #ccc;
}
.requests-header {
  background: #333;
  padding: 15px;
  color: #eaeaea;
}

.conn-content span {
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  color: black;
  border: black 2px solid;
  border-radius: 50%;
  background: #c8c8c8;
}

.requests-header p {
  color: #eaeaea;
  font-weight: bold;
}

.request-row {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.request-row img {
  width: 20px;
  height: 20px;
}
.your-connections {
  width: 100%;
  border: 2px solid #ccc;
}

.connection-ur-requests span {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 25px;
  color: black;
  border: black 2px solid;
  border-radius: 50%;
  background: #c8c8c8;
}

.requests-footer {
  background: white;
  border: 2px solid #ccc;
}
